<?js
	var data = obj;
    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><div class="well well-small"><?js= example.caption ?></div></p>
    <?js } ?>
    <pre class="sunlight-highlight-javascript"><?js= example.code ?></pre>
<?js
    });
?>
